<head>
  <title>Vista de Recetas</title>
</head>
<article>
  <main ng-view>
    <table >
      <tbody>
        <tr>
          <th>Nombre</th>
          <td>{{ recipe.nombre }}</td>
        <tr>
          <th>Duración</th>
          <td>{{ recipe.tiempo }}</td>
        </tr>
        <tr>
          <th>Ingredientes:</th>
          <td>{{ recipe.ingredientes }}</td>
        </tr>
        <tr>
          <th>Preparación</th>
          <td class="last">{{ recipe.preparacion }}</td>
        </tr>
      </tbody>
    </table>
  </main>
</article>