<article *ngFor="let recipe of recipes">
    <div class="card">
	<div class="card-header">
	    <div class="row">
		<div class="col-md-10">
		    <h3>{{ recipe.nombre }}</h3>
		</div>
		<div class="col-md-2">
		    <span class="card-title"><b>Tiempo: </b>{{ recipe.tiempo }} Min</span>
		</div>
	    </div>
	</div>
	<div class="card-block">
	    <p class="card-text">{{ recipe.preparacion | limite: 30 }}</p>
	    <a href="#" class="btn btn-primary">Ver Preparaci&oacute;n</a>
	</div>
    </div>
    <br/>
</article>
