<form>
    <div class="form-group">
	<label for="InputTitle">Nombre Receta:</label>
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Agregar Receta">
	<small id="emailHelp" class="form-text text-muted">Agrega el T&iacute;tulo de la receta que vas a agregar.</small>
    </div>
    <div class="form-group">
	<label for="InputTime">Tiempo</label>
	<input type="number" class="form-control" id="exampleInputPassword1" placeholder="tiempo">
    </div>
    <div class="form-group">
	<label for="TextareaRecipe">Preparacion de la receta</label>
	<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <label for="InputIngredient">Ingrediente:</label>
    <div class="row form-group">
	<div class="col-md-10">
	    <input type="text" class="form-control" id="ingrediente" placeholder="Nombre del ingrediente">
	</div>
	<div class="col-md-2">
	    <button type="button" class="btn btn-primary" name="ingrediente">Agregar ingrediente</button>
	</div>
    </div>
    <button type="button" class="btn btn-primary" name="receta" (click)="agregarReceta()">Agregar receta</button>
</form>
